{% extends 'app/base.html' %}
{% load static %}
{%block navbar%}
<a href="{% url 'menuingresado' %}"><img class="logo" src="{% static 'app/img/logo_mis_macetitas_1370x256.png' %}" alt=""></a>
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link activo " href="{% url 'menuingresado' %}">Inicio</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Tienda</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href=" {% url 'maceteros' %} ">Maceteros</a></li>
        <li><a class="dropdown-item" href=" {% url 'tierradehoja' %} ">Tierra de hoja</a></li>
        <li><a class="dropdown-item" href="{% url 'arbustos' %} ">Arbustos</a></li>
        <li><a class="dropdown-item" href=" {% url 'flores' %} ">Flores</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'historialcompras' %}">Historial compras</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Cuenta</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'modificardatos' %}">Modificar datos</a></li>
        <li><a class="dropdown-item" href="{% url 'index' %}">Salir</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link fa-solid fa-cart-shopping "rel="icon"  href="{% url 'carritocompras' %} "></a>
    </li>
  </ul>
{%endblock%}
{% block contenido %}
<section id="slide-macetitas">
  <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

<!-- Indicators/dots -->
<div class="carousel-indicators">
<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
</div>

<!-- The slideshow/carousel -->
<div class="carousel-inner">
<div class="carousel-item active">
 <img src="{% static 'app/img/slide-1.png' %}" alt="Los Angeles" class="d-block w-100">
 <div class="carousel-caption">
     <h3>Maceteros de cerámica</h3>
     <p>Aprovecha un 5% de descuento</p>
   </div>
</div>
<div class="carousel-item">
 <img src="{% static 'app/img/slide-2.png' %}" alt="Chicago" class="d-block w-100">
 <div class="carousel-caption">
     <h3>Maceteros de plásticos</h3>
     <p>Aprovecha un 10% de descuento</p>
   </div>
</div>
<div class="carousel-item">
 <img src="{% static 'app/img/slide-3.png' %}" alt="New York" class="d-block w-100">
 <div class="carousel-caption">
     <h3>Maceteros de greda</h3>
     <p>Aprovecha la oferta 2x1 </p>
   </div>
</div>
</div>

<!-- Left and right controls/icons -->
<button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
<span class="carousel-control-prev-icon"></span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
<span class="carousel-control-next-icon"></span>
</button>
</div>
 </section>
 

 <section id="quienes-somos">
  <div id="div-quienes-somos">
    <h1>¡Ofertas especiales para ti!</h1>
    
  </div>
</section>

 <section>
     <section id="mas-comprados">
         <div id="div-mas-comprados">
           <div class="row">
               <div class="col-4"><img src="{% static 'app/img/macetero-1.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
               <div class="col-4"><img src="{% static 'app/img/macetero-2.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
               <div class="col-4"><img src="{% static 'app/img/macetero-3.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
             </div>
             <div class="row">
               <div class="col-4"><img src="{% static 'app/img/macetero-4.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
               <div class="col-4"><img src="{% static 'app/img/macetero-5.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
               <div class="col-4"><img src="{% static 'app/img/macetero-6.png' %}" alt="">
                 <br>
                 <p class="precio">$9.990</p> 
                 <button type="button" class="btn btn-success" >Añadir al carro</button>
               </div>
             </div>
         </div>
       </section>
 </section>
{% endblock %}