{% extends 'app/base.html' %}
{%load static %}
{%block navbar%}
<a href="{% url 'index' %}"><img class="logo" src="{% static 'app/img/logo_mis_macetitas_1370x256.png' %}" alt=""></a>
<div class="collapse navbar-collapse" id="mynavbar">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'quienessomos' %}">¿Quiénes somos?</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'iniciarsesion' %}">Iniciar sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="{% url 'contacto' %}">Contacto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link activo suscripcion" href="{% url 'suscripcion' %}">Suscripcion</a>
    </li>
  </ul>
{% endblock %}

{%block contenido %}
<div class="decoracion"><h1>Suscripcion</h1></div>
<section class="container-fluid" id="desc-suscripcion">
    <div id="div-desc-suscripcion">
    <div class="row">
        <div class="col-6">
            <img src="{% static 'app/img/planta-mano.jpg' %}" alt="" height="250" width="400"></div>
        <div class="col-6">
            <p>Al suscribirse recibe información relevante, ademas se le enviara de forma constante
              ofertas especialmente dirigidas a ti, tambien se le otorgara un 5% en el total de sus ventas.</p>
            </div>
            <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                <br>
                 <input type="email" placeholder="Correo Electronico">
                 <input type="submit" value="Suscribirse" class="button">
                 </div>
    </div>
    </div>
</section>
{% endblock %}
